body {
    margin-top: 150px;
    box-sizing: border-box;
}

/* navbar */

.navbar-brand, .nav-item {
    cursor: pointer;
	user-select: none;
}

.dropdown-item:hover {
	background-color: #F0F0F0;
} 

.dropdown-item:active {
	background-color: #f7f7f7;
} 

.dropdown:hover .dropdown-menu {
    display: block;
	margin-top: -24px;   
}
.dropdown-menu{
	width: 32em;
	left: 21%;
}
.dropdown {
	position: static;
}

.navbar-collapse ul li .underline {
	height: 2px;
	background-color: transparent;
	width: 0%;
	transition: width 0.12s  ease-in, background-color 0.5s;
	margin: -1px auto 0px auto ;
	border-radius: 10px;
}

.navbar-collapse ul li:hover .underline {
	background-color: #0163b9;
	width: 58%;
}

.icon {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 10%;
}

.nav-link {
	text-decoration: none;
	color: #040F0F !important;
	opacity: 0.8;
	font-family: 'Montserrat' !important;
	font-size: 0.88rem;
	font-weight: 400;
}

.nav-link:hover, .nav-link:active {
	color: #0163b9 !important;
}

.dropdown:hover > .nav-link{
	color: #0163b9 !important;
}

.wrap-drop-down:hover > div {
	color: #005299 !important;
}

.wrap-drop-down:hover > div > span.text-dark {
	color: #005299 !important;
}

.btn:focus,.btn:active {
	outline: none !important;
	box-shadow: none !important;
}

.btn {
	background-color: #006dcc;
	border: none !important;
	border-radius: 7px;
	padding: 8px 14px 8px 14px;
}

.btn:hover {
	background-color: #0163b9;
}

.drop-content > .text-dark {
	font-family: 'Montserrat';
	font-weight: 600;
	font-size: 0.9rem;
}

.info-text {
	margin-top: -3px;
	font-size: 0.9rem;
}

.signup {
	color: #004f94 !important;
}