body {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

/* hero section */

.hero-main {
    margin-top: -60px;
}

.hero-head {
	font-family: 'Montserrat';
    font-weight: 800;
    font-size: 3.28rem;
    color: #252628;
}

.sub-head {
    font-family: 'Montserrat';
    font-size: 1.25rem;
    font-weight: 500;
    color: #252628 !important;
    opacity: 0.75;
}

.hero-btn {
	background-color: #0161b6;
    border: none !important;
    font-family: 'Montserrat';
	border-radius: 7px;
	padding: 12px 22px 12px 22px !important;
}

.hero-btn:hover {
	background-color: #005299;
}

.sub-button {
    margin-left: 4.4rem;
    color: #0161b6;
    cursor: pointer;
}

.hero-right {
    user-select: none;
}

.hero-left {
    margin-top: -25px;
}

.hero-logo {
    width: 470px;
    margin-left: -30px;
}

/* Footer */

.companies {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 1.8rem;
    margin-top: 50px !important;
    margin-bottom: 10px !important;
}

.brands {
    margin-bottom: 20px;
    user-select: none;
}
.more {
    background-color: #0B1736;
    padding: 100px;
}

.more-link {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 2rem;
}

/* Actual Footer */

ul > li {
    list-style-type: none;
}

.foot-item-head {
    font-weight: 700;
}

.footer-items {
    font-family: 'Montserrat';
    font-size: 0.9rem;
}

.foot-items {
    font-size: 0.85rem;
}

.foot-items:hover {
    color: #0161b6;
    cursor: pointer;
}

.brand {
    font-family: 'Montserrat';
    font-size: 0.8rem;
    user-select: none;
}

.footer-logo {
    margin-left: -13px;
}

.social {
    opacity: 0.7;
}

.surl-footer {
    margin-top: 100px;
}

/* surlAbout */

.scroll-text {
    font-family: 'Montserrat';
    font-size: 0.9rem;
    margin-top: -90px;
}

.grow {
    margin-top: 7rem;
}

.grow-brand{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 2.1rem;
}

.sub-grow-brand {
    font-family: 'Montserrat';
    font-weight: 300;
    opacity: 0.9;
    font-size: 1.1rem;
    margin-bottom: 70px;
}

.grow-item-head {
    margin-top: 50px;
    font-family: 'Montserrat';
    font-weight: 800;
}

.grow-item-sub{
    opacity: 0.8;
    margin-top: 5px;
}

.grow-button {
	background-color: #ecf3f6;
	border: none;
	border-radius: 8px;
	padding: 17px 30px 17px 30px;
	font-family: "montserrat";
    font-size: 0.95;
    margin-top: 45px;
}

.sub-grow-button{
    margin-bottom: 60px;
}