body {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

/* hero section */

.hero-main {
    margin-top: -60px;
}


.hero-btn:hover {
	background-color: #005299;
}

.sub-button {
    margin-left: 4.4rem;
    color: #0161b6;
    cursor: pointer;
}

.hero-right {
    user-select: none;
}

.hero-left {
    margin-top: -25px;
}

.hero-logo {
    width: 470px;
    margin-left: -30px;
}

/* Footer */


.brands {
    margin-bottom: 20px;
    user-select: none;
}
.more {
    background-color: #0B1736;
    padding: 100px;
}

.more-link {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 2rem;
}

/* Actual Footer */

ul > li {
    list-style-type: none;
}

.foot-item-head {
    font-weight: 700;
}

.footer-items {
    font-family: 'Montserrat';
    font-size: 0.9rem;
}

.foot-items {
    font-size: 0.85rem;
}

.foot-items:hover {
    color: #0161b6;
    cursor: pointer;
}

.brand {
    font-family: 'Montserrat';
    font-size: 0.8rem;
    user-select: none;
}

.footer-logo {
    margin-left: -13px;
}

.social {
    opacity: 0.7;
}

.surl-footer {
    margin-top: 100px;
}

/* surlAbout */

.scroll-text {
    font-family: 'Montserrat';
    font-size: 0.9rem;
    margin-top: -90px;
}

.grow {
    margin-top: 7rem;
}

.grow-brand{
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 2.1rem;
}

.sub-grow-brand {
    font-family: 'Montserrat';
    font-weight: 300;
    opacity: 0.9;
    font-size: 1.1rem;
    margin-bottom: 70px;
}

.grow-item-head {
    margin-top: 50px;
    font-family: 'Montserrat';
    font-weight: 800;
}

.grow-item-sub{
    opacity: 0.8;
    margin-top: 5px;
}

.grow-button {
	background-color: #ecf3f6;
	border: none;
	border-radius: 8px;
	padding: 17px 30px 17px 30px;
	font-family: "montserrat";
    font-size: 0.95;
    margin-top: 45px;
}

.sub-grow-button{
    margin-bottom: 60px;
}

/* dashboard */

a {
    text-decoration: none !important;
}

.sub-dashboard-head {
    font-family: 'Montserrat';
}

/* forms */

.card {
    background-color: #fefeff;
}

.form-control:focus {
    border-color: none;
    box-shadow: 0px 0.2px 0.2px #FFFFFF inset, 0px 0px 2px #0161b6;
}
/* Sign up login forms */

.form-signin, .form-signup {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;   
}

.form-label-group {
    position: relative;
    margin-bottom: 0.4rem;
    border-radius: 50px;
}

.form-label-group > input,
.form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
}

.form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
    color: transparent;
}

.form-label-group input:-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-ms-input-placeholder {
    color: transparent;
}

.form-label-group input::-moz-placeholder {
    color: transparent;
}

.form-label-group input::placeholder {
    color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
}

.form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input::-ms-input-placeholder {
        color: #777;
    }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
        display: none;
    }
    .form-label-group input:-ms-input-placeholder {
        color: #777;
    }
}

.form-btn {
    background-color: #015eaf;
}

.form-btn:hover {
    background-color: #005299;
}